# Auto detect text files and perform LF normalization
* text=auto

# LFS
**/force-app/main/default/waveTemplates/Key_Account_Management_CG/external_files/Sales_Data.csv filter=lfs diff=lfs merge=lfs -text
