**/.DS_Store
.vscode
.sfdx
package-lock.json
**/force-app/main/default/contentassets
**/force-app/main/default/roles
**/force-app/main/default/wave
force-app/main/default/waveTemplates/Demo_B2B_Comms_Analytics_232/external_files/.~lock.Opportunity_FOR_DEMO1.csv#
.sf/config.json
